{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">

                {{filter.form.title}}
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected disabled>--Select A Variant--</option>

                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    {{filter.form.fromPrice}}
                    {{filter.form.toPrice}}
                </div>
            </div>
            <div class="col-md-2">
                {{filter.form.date}}
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% if product_list %}
                    {% for p in product_list %}

                    <tr>
                        <td>{{p.pk}}</td>
                        <td style="width: 20%">{{p.title}} <br> Created at : {{p.created_at|date:'d-M-Y'}}</td>
                        <td>{{p.description}}</td>



                        <td>
                            {% if pvp %}
                            {% for pv in pvp %}
                            {% if pv.product.pk == p.pk%}

                            <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                <dt class="col-sm-3 pb-0 text-uppercase">
                                    <p> {{pv.product_variant_one.variant_title}}/
                                        {{pv.product_variant_two.variant_title}}/
                                        {{pv.product_variant_three.variant_title}} </p>
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{pv.price}}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{pv.stock}}.</dd>
                                    </dl>
                                </dd>

                            </dl>
                            {% endif %}

                            {% endfor %}

                            {% endif %}

                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{page_obj.paginator.count}}
                </p>
            </div>
            <div class="col-md-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end">

                        {% if page_obj.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                                <</a> </li> {% endif %} {% if page_obj.number != 1 %} <li class="page-item"><a
                                        class="page-link" href="?page=1">1</a></li>
                        {% endif %}


                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>

                        {% comment %}
                        {% if page_obj.number != page_obj.paginator.num_pages|add:"-1" or page_obj.number != page_obj.paginator.num_pages %}

                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.number|add:"1"}}">{{page_obj.number|add:"1"}}</a></li>
                        {% endif %} {% endcomment %}


                        {% if page_obj.number != page_obj.paginator.num_pages %}

                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>

                        {% endif %}




                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}">></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}